{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>

        Here is the about page. This tutorial has been put together by Thomas Shearer, 2081137s<br />
		<p><b> You have made {{ visits }} visit(s) to this website.</b></p>
		<img  width="90" height="100" src="{% static "images/me.jpg" %}" alt="Picture of Me" /> <!-- New line -->
            </div>

{% endblock %}